.folder:hover,
.folder.active {
  background-color: var(--color-hover);
}

.folder.active {
  background-color: var(--secondary-color);
  color: var(--color-white);
}

.folder {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  transition: all 0.3s ease;
  background-color: transparent;
  gap: 12px;
  margin: 6px 12px;
  color: var(--font-color);
}

.folder img {
  width: 16px;
  height: 16px;
  opacity: 0.7;
}

.folder.active img {
  opacity: 1;
  filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .folder {
    padding: 10px 12px;
    margin: 4px 8px;
  }

  .folder.archive {
    padding: 8px 6px;
  }
}
