.image {
  width: 16px;
  height: 16px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.button:hover .image {
  opacity: 1;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-hover);
}

.note-editor {
  padding: 32px;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.note-editor input {
  font-size: 24px;
  border: none;
  font-weight: 600;
  background-color: transparent;
  display: block;
  color: var(--color-dark);
  padding: 8px 0;
  margin-bottom: 12px;
}

.note-editor input::placeholder {
  color: var(--background-color-light);
}

.note-editor textarea {
  display: block;
  border: 0;
  flex: 1;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  color: var(--font-color);
  resize: none;
}

.note-editor textarea::placeholder {
  color: var(--background-color-light);
}

.container :global(form) {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
}

.align-right {
  align-self: flex-end;
}

@media (max-width: 768px) {
  .note-editor {
    padding: 20px;
  }

  .note-editor input {
    font-size: 20px;
    margin-bottom: 0;
  }

  .note-editor textarea {
    font-size: 15px;
  }

  .button {
    padding: 6px;
  }

  .button.delete {
    align-self: flex-end;
  }

  .image {
    width: 18px;
    height: 18px;
  }
}
